<page-header [header]="headerText"></page-header>
<form #f="ngForm" (ngSubmit)="submit()">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="word">Word</label>
        <input id="word" name="name" type="text" class="form-control" [(ngModel)]="word.name" required #name="ngModel">
      </div>
      <div class="alert alert-danger" *ngIf="name.touched && !name.valid">Please type a name</div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="meaning">Meaning</label>
        <input id="meaning" name="meaning" type="text" class="form-control" [(ngModel)]="word.meaning" required
          #meaning="ngModel">
      </div>
      <div class="alert alert-danger" *ngIf="meaning.touched && !meaning.valid">Please type a meaning</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="pronunciationUK">Pronunciation UK</label>
        <input id="pronunciationUK" name="pronunciationUk" type="text" class="form-control" [(ngModel)]="word.pronunciation.uk">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="pronunciationUS">Pronunciation US</label>
        <input id="pronunciationUS" name="pronunciationUs" type="text" class="form-control" [(ngModel)]="word.pronunciation.us">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="category">Category</label>
        <!-- TODO: replace every select to ng-select -->
        <select id="category" name="categoryId" class="form-control" (change)="onCategoryChange()" [(ngModel)]="word.categoryId"
          required #category="ngModel">
          <option value=""></option>
          <option *ngFor="let c of categories" value="{{c.id}}">{{ c.name }}</option>
        </select>
      </div>
      <div class="alert alert-danger" *ngIf="category.touched && !category.valid">Please select the category</div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="subcategory">Subcategory</label>
        <ng-select id="subcategory" name="subcategoryId" #subcategory="ngModel" [disabled]="word.categoryId==0"
          [items]="subcategories" [(ngModel)]="word.subcategoryId" bindLabel="name" bindValue="id"
          [addTag]="addTagPromise" [clearable]="false" [loading]=loading></ng-select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="partOfSpeech">Part of speech</label>
        <select id="partOfSpeech" name="partOfSpeechId" class="form-control" [(ngModel)]="word.partOfSpeechId" required
          #partOfSpeech="ngModel">
          <option value=""></option>
          <option *ngFor="let p of partsOfSpeech" value="{{p.id}}">{{ p.name }}</option>
        </select>
      </div>
      <div class="alert alert-danger" *ngIf="partOfSpeech.touched && !partOfSpeech.valid">Please select the part of
        speech</div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="link">Link</label>
        <input id="link" name="link" type="text" class="form-control" [(ngModel)]="word.link">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label> Mark as learned?</label>
        <div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="learned" name="isLearned" class="custom-control-input" [value]="true" [(ngModel)]="word.isLearned">
            <label class="custom-control-label" for="learned">Yes</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="notLearned" name="isLearned" class="custom-control-input" [value]="false"
              [(ngModel)]="word.isLearned">
            <label class="custom-control-label" for="notLearned">No</label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Features</label>
        <br>
        <div *ngFor="let f of features">
          <div *ngIf="!f.subfeatures.length" class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input w17" id="feature{{ f.id }}" (change)="onFeatureToggle(f.id, $event)"
              [checked]="word.features.includes(f.id)">
            <label class="custom-control-label" for="feature{{ f.id }}"> {{ f.name }} </label>
          </div>
          <div *ngIf="f.subfeatures.length">
            <i class="fas text-center w17 main-color cur_p" [ngClass]="collapsedFeatures.includes(f.id) ? 'fa-caret-down': 'fa-caret-right'"
              id="feature{{ f.id }}" (click)="onCollapse(f.id)"></i>
            <label class="control-label" for="feature{{ f.id }}"> {{ f.name }} </label>
            <div *ngIf="collapsedFeatures.includes(f.id)">
              <div *ngFor="let sf of f.subfeatures" class="ml20">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input w17" id="feature{{ sf.id }}" (change)="onFeatureToggle(sf.id, $event)"
                    [checked]="word.features.includes(sf.id)">
                  <label class="custom-control-label" for="feature{{ sf.id }}"> {{ sf.name }} </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div [froalaEditor]="froalaOptions" [(froalaModel)]="word.example"></div>
  <br>
  <button class="btn btn-primary" [disabled]="!f.valid">Save</button>
</form>
