// Basic Colors
$text-color: #090A0C; // Body text

//Background Colors
$bg-light-gray: #CDD6D5; // Background header color
$bg-color: #EEF4F2; // Background body color
$hover-color: #F5FFFC; //Hover background color

