// Basic Colors
$text-color: #090A0C; // Body text
$text-selected: rgb(101, 50, 155); // Selected text eg. in nav menu
$text-page-header: rgb(255, 255, 255); // Page header text

//Background Colors
$bg-color: rgb(238, 238, 238); // Background body color
$hover-color:rgb(255, 227, 192); //Hover background color

$gradient-middle: rgb(254, 081, 144); // Page heder middle color
$gradient-end:rgb(253, 162, 107); //Page header end color

$success-green: #97d546;
$info-yellow: #f7fa3c;
$danger: #ec1010;

$theme-colors: (
  primary: $text-selected,
  success: $success-green,
);

@import "~bootstrap/scss/bootstrap";



