// Basic Colors
$text-color: #090A0C; // Body text
$text-selected: rgb(126, 177, 170); // Selected text eg. in nav menu

//Background Colors
$bg-light-gray: #CDD6D5; // Background header color
$bg-color: #EEF4F2; // Background body color
$hover-color: #F5FFFC; //Hover background color

//TODO: Define more colors