@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import '_variables.scss';
@import "~fullcalendar/dist/fullcalendar.css";

.cur_p {
  cursor: pointer;
}

body {
  font-family: 'Open Sans', sans-serif !important;
  background-color: $bg-color;
  font-size: 13px;
  color: $text-color;
  overflow-x: hidden;
}

.gradient-bg {
  background: linear-gradient(to bottom right, $text-selected, $gradient-middle, $gradient-end);
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: $hover-color;
}

.router-outlet {
  padding-right: 1rem;
  padding-left: 1rem;
}

.ml20{
  margin-left:20px;
}

.w17{
  width: 17px;
}

.main-color{
  color: $text-selected;
}