@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import "~@ng-select/ng-select/themes/default.theme.css";
@import '_variables.scss';

.cur_p {
  cursor: pointer;
}

body {
  font-family: 'Open Sans', sans-serif !important;
  background-color: $bg-color;
  font-size: 13px;
  color: $text-color;
  overflow-x: hidden;
}

.gradient-bg {
  background: linear-gradient(to bottom right, $text-selected, $gradient-middle, $gradient-end);
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: $hover-color;
}

.router-outlet {
  padding-right: 1rem;
  padding-left: 1rem;
}

@for $i from 1 through 500 {
  .w#{$i} {
    width: #{$i}px;
  }
}

@for $i from 1 through 100 {
  .m#{$i} {
    margin: #{$i}px;
  }
  .mt#{$i} {
    margin-top: #{$i}px;
  }
  .mr#{$i} {
    margin-right: #{$i}px;
  }
  .mb#{$i} {
    margin-bottom: #{$i}px;
  }
  .ml#{$i} {
    margin-left: #{$i}px;
  }
}

@for $i from 1 through 100 {
  .p#{$i} {
    padding: #{$i}px;
  }
  .pt#{$i} {
    padding-top: #{$i}px;
  }
  .pr#{$i} {
    padding-right: #{$i}px;
  }
  .pb#{$i} {
    padding-bottom: #{$i}px;
  }
  .pl#{$i} {
    padding-left: #{$i}px;
  }
}

.main-color{
  color: $text-selected;
}

.filter-icons-ul {
  padding-left: 0;

  li {
    display: inline-block;
    margin: 0 5px 5px 0;

    img {
      border: 1px solid;
      padding: 4px;
      cursor: pointer;
      &.active{
        border: 2px solid $danger;
        padding: 3px;
      }
    }
   
  }
}