@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import '_variables.scss';

.cur_p {
  cursor: pointer;
}

body {
  font-family: 'Open Sans', sans-serif !important;
  background-color: $bg-color;
  font-size: 13px;
  color: $text-color;
  overflow-x: hidden;
}

.gray-bg {
  background-color: $bg-light-gray;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: $hover-color;
}

.router-outlet {
  padding-right: 1rem;
  padding-left: 1rem;
}
