.header {
    padding-bottom: 20px;
    padding-top: 20px;
    margin-bottom: 10px;
  
    h2 {
      font-size: 25px;
      font-weight: bold;
      margin-top: 10px;
      margin-bottom: 0px;
    }
    .description {
      color: #171B27;
      font-size: 12px;
      margin-top: 10px;
    }
  }
