<h1>New Word</h1>
<form #f="ngForm" (ngSubmit)="submit()">
  <div class="form-group">
    <label for="word">Word</label>
    <input id="word" name="name" type="text" class="form-control" [(ngModel)]="word.name" required #name="ngModel">
  </div>
  <div class="alert alert-danger" *ngIf="name.touched && !name.valid">Please type a name</div>
  <div class="form-group">
    <label for="meaning">Meaning</label>
    <input id="meaning" name="meaning" type="text" class="form-control" [(ngModel)]="word.meaning" required #meaning="ngModel">
  </div>
  <div class="alert alert-danger" *ngIf="meaning.touched && !meaning.valid">Please type a meaning</div>
  <div class="form-group">
    <label for="pronunciationUK">Pronunciation UK</label>
    <input id="pronunciationUK" name="pronunciationUK" type="text" class="form-control" [(ngModel)]="word.pronunciation.Uk">
  </div>
  <div class="form-group">
    <label for="pronunciationUS">Pronunciation US</label>
    <input id="pronunciationUS" name="pronunciationUS" type="text" class="form-control" [(ngModel)]="word.pronunciation.Us">
  </div>
  <div class="form-group">
    <label for="exmples">Examples</label>
    <textarea id="exmples" name="exmples" class="form-control" rows="4" [(ngModel)]="word.exmples"></textarea>
  </div>
  <div class="form-group">
    <label for="category">Category</label>
    <select id="category" name="categoryId" class="form-control" (change)="onCategoryChange()" [(ngModel)]="word.categoryId" required #category="ngModel">
      <option value=""></option>
      <option *ngFor="let c of categories" value="{{c.id}}">{{ c.name }}</option>
    </select>
  </div>
  <div class="alert alert-danger" *ngIf="category.touched && !category.valid">Please select the category</div>
  <div class="form-group">
    <label for="subcategory">Subcategory</label>
    <select id="subcategory" name="subcategoryId" class="form-control" [(ngModel)]="word.subcategoryId">
      <option value=""></option>
      <option *ngFor="let s of subcategories" value="{{s.id}}">{{ s.name }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="partOfSpeech">Part of speech</label>
    <select id="partOfSpeech" name="partOfSpeechId" class="form-control" [(ngModel)]="word.partOfSpeechId">
      <option value=""></option>
      <option *ngFor="let p of partsOfSpeech" value="{{p.id}}">{{ p.name }}</option>
    </select>
  </div>
  <label> Mark as learned?</label>
  <div class="radio">
    <label for="learned" class="radio-inline">
      <input type="radio" id="learned" name="isLerned" value="true" [(ngModel)]="word.isLerned"> Yes
    </label>
    <label for="notLearned" class="radio-inline">
      <input type="radio" id="notLearned" name="isLerned" value="false" [(ngModel)]="word.isLerned"> No
    </label>
  </div>
  <h2>Features</h2>
  <div *ngFor="let f of features" class="checkbox">
    <label for="feature {{ f.id }}">
      <input type="checkbox" id="feature {{ f.id}}" (change)="onFeatureToggle(f.id, $event)"> {{ f.name }}
    </label>
  </div>
  <button class="btn btn-primary" [disabled]="!f.valid">Save</button>
</form>
