<h1>New Word</h1>
<form>
  <div class="form-group">
    <label for="word">Word</label>
    <input id="word" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="meaning">Meaning</label>
    <input id="meaning" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="pronunciationUK">Pronunciation UK</label>
    <input id="pronunciationUK" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="pronunciationUS">Pronunciation US</label>
    <input id="pronunciationUS" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="exmples">Examples</label>
    <textarea id="exmples" class="form-control" rows="4"></textarea>
  </div>
  <div class="form-group">
    <label for="category">Category</label>
    <select id="category" name="category" class="form-control" (change)="onCategoryChange()" [(ngModel)]="word.category">
      <option value=""></option>
      <option *ngFor="let c of categories" value="{{c.id}}">{{ c.name }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="subcategory">Subcategory</label>
    <select id="subcategory" class="form-control">
      <option value=""></option>
      <option *ngFor="let s of subcategories" value="{{s.id}}">{{ s.name }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="partOfSpeech">Part of speech</label>
    <select id="partOfSpeech" name="partOfSpeech" class="form-control">
      <option value=""></option>
      <option *ngFor="let p of partsOfSpeech" value="{{p.id}}">{{ p.name }}</option>
    </select>
  </div>
  <label> Mark as learned?</label>
  <div class="radio">
    <label for="learned" class="radio-inline">
      <input type="radio" id="learned" name="isLerned" value="true"> Yes
    </label>
    <label for="notLearned" class="radio-inline">
      <input type="radio" id="notLearned" name="isLerned" value="false"> No
    </label>
  </div>
  <h2>Features</h2>
  <div *ngFor="let f of features" class="checkbox">
    <label for="feature {{ f.id }}">
      <input type="checkbox" id="feature {{ f.id}}"> {{ f.name }}
    </label>
  </div>
  <button class="btn btn-primary">Save</button>
</form>
