<page-header [header]="headerText" [description]="descriptionText"></page-header>
<p>
  <a *ngIf="auth.isAuthenticated()" [routerLink]="['/words/new']" class="btn btn-primary">Add a Word</a>
  <button class="btn btn-primary" (click)="downloadXls()">Download xls</button>
</p>
<div class="row">
  <div class="input-group input-group-sm col-md-5 mb-3">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <a href="#advancedSearch" data-toggle="collapse">
          <i class="fas fa-search-plus" data-toggle="tooltip" data-placement="bottom" title="Advanced search"></i>
        </a>
      </div>
    </div>
    <input id="search" name="search" type="text" class="form-control" placeholder="Search..." [(ngModel)]="query.query"
      (blur)="onFilterChange()">
    <div class="input-group-append">
      <div class="input-group-text"><i class="fa fa-search"></i></div>
    </div>
  </div>
  <div class="input-group col-md-2 form-group">
    <select name="" id="pageSize" class="form-control form-control-sm" [(ngModel)]="query.pageSize" (change)="onPageSizeChange()">
      <option *ngFor="let p of params.pagination.items" value="{{ p }}">{{ p }} results</option>
    </select>
  </div>
</div>

<div id="advancedSearch" class="row collapse mb-3">
  <div class="col-md-9">
    <div class="well well-sm">
      <div class="row">
        <div class="col-md-2 form-group">
          <h3>Search in field</h3>
          <div class="form-group">
            <label for="name" class="col-form-label-sm">Name</label>
            <input name="name" type="text" class="form-control" [(ngModel)]="query.name" (blur)="onFilterChange()">
          </div>
          <div class="form-group">
            <label for="meaning" class="col-form-label-sm">Meaning</label>
            <input name="meaning" type="text" class="form-control form-control-sm" [(ngModel)]="query.meaning"
              (blur)="onFilterChange()">
          </div>
          <div class="form-group">
            <label for="example" class="col-form-label-sm">Example</label>
            <input name="example" type="text" class="form-control form-control-sm" [(ngModel)]="query.example"
              (blur)="onFilterChange()">
          </div>
        </div>
        <div class="col-md-2 form-group">
          <h3>Part of speech</h3>
          <div *ngFor="let p of partsOfSpeech">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input w17" id="part-of-speech-{{ p.id }}"
                (change)="onPartOfSpeechToggle(p.id, $event)" [checked]="query.partOfSpeechIds.includes(p.id)">
              <label class="custom-control-label" for="part-of-speech-{{ p.id }}"> {{ p.name }} </label>
            </div>
          </div>
        </div>
        <div class="col-md-2 form-group">
          <h3>Feature</h3>
          <div *ngFor="let f of features">
            <div *ngIf="!f.subfeatures.length" class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input w17" id="feature{{ f.id }}"
                (change)="onFeatureToggle(f.id, $event)" [checked]="query.featureIds.includes(f.id)">
              <label class="custom-control-label" for="feature{{ f.id }}"> {{ f.name }} </label>
            </div>
            <div *ngIf="f.subfeatures.length">
              <i class="fas text-center w17 main-color cur_p"
                [ngClass]="collapsedFeatures.includes(f.id) ? 'fa-caret-down': 'fa-caret-right'" id="feature{{ f.id }}"
                (click)="onCollapse(f.id)"></i>
              <label class="control-label" for="feature{{ f.id }}"> {{ f.name }} </label>
              <div *ngIf="collapsedFeatures.includes(f.id)">
                <div *ngFor="let sf of f.subfeatures" class="ml20">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input w17" id="feature{{ sf.id }}"
                      (change)="onFeatureToggle(sf.id, $event)" [checked]="query.featureIds.includes(sf.id)">
                    <label class="custom-control-label" for="feature{{ sf.id }}"> {{ sf.name }} </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 form-group">
          <h3>Learned</h3>
          <div class="custom-control custom-radio">
            <input type="radio" id="learned" name="isLearned" class="custom-control-input" [value]="true"
              [(ngModel)]="query.isLearned" (blur)="onFilterChange()">
            <label class="custom-control-label" for="learned">Yes</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" id="notLearned" name="isLearned" class="custom-control-input" [value]="false"
              [(ngModel)]="query.isLearned" (blur)="onFilterChange()">
            <label class="custom-control-label" for="notLearned">No</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" id="noPreference" name="isLearned" class="custom-control-input" [value]="null"
              [(ngModel)]="query.isLearned" (blur)="onFilterChange()">
            <label class="custom-control-label" for="noPreference">No preference</label>
          </div>
        </div>
        <div class="col-md-2 form-group">
          <h3>Category</h3>
          <ul class="filter-icons-ul">
            <li *ngFor="let c of categories active">
              <img [class.active]="query.categoryId === c.id" width="64"
                src="/images/categories/category-{{ c.id }}.png" (click)=onSelectCategory(c.id) />
            </li>
          </ul>
        </div>
        <div class="col-md-2 form-group">
          <h3>Subcategory</h3>
          <div *ngFor="let s of subcategories">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input w17" id="subcategory-{{ s.id }}"
                (change)="onSubcategoryToggle(s.id, $event)" [checked]="query.subcategoryIds.includes(s.id)">
              <label class="custom-control-label" for="subcategory-{{ s.id }}"> {{ s.name }} </label>
            </div>
          </div>
        </div>
      </div>
      <button class="btn btn-sm btn-default" (click)="clearFilter()">Clear</button>
    </div>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-stripped table-hover">
    <thead>
      <tr>
        <th *ngFor="let h of headers" class="text-nowrap">
          <span *ngIf="h.isSortable" (click)="sortBy(h.key)" class="cur_p">
            {{ h.title }}
            <i *ngIf="query.sortBy != h.key" class="fa fa-sort"></i>
            <i *ngIf="query.sortBy === h.key" class="fa" [class.fa-sort-asc]="query.isSortAscending"
              [class.fa-sort-desc]="!query.isSortAscending"></i>
          </span>
          <span *ngIf="!h.isSortable">
            {{ h.title }}
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let w of queryResult.items">
        <td>{{ w.name }}</td>
        <td>{{ w.meaning }}</td>
        <td>{{ w.pronunciation.uk }}</td>
        <td>{{ w.pronunciation.us }}</td>
        <td>{{ w.definition }}</td>
        <td>
          <div [froalaView]="w.example"></div>
        </td>
        <td>{{ w.subcategory.name }}</td>
        <td>{{ w.category.name }}</td>
        <td class="text-nowrap">{{ w.createdAt | date :'short'}}</td>
        <td>
          <a [routerLink]="['/words/', w.id]" class="btn btn-link" data-toggle="tooltip" data-placement="bottom" title="View">
            <i class="fa fa-search" aria-hidden="true"></i>
          </a>
          <a [routerLink]="['/words/update/', w.id]" class="btn btn-link" data-toggle="tooltip" data-placement="bottom"
            title="Edit">
            <i class="fa fa-pencil-alt"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<pagination [total-items]="queryResult.totalItems" [page-size]="query.pageSize" (page-changed)="onPageChange($event)"></pagination>