<page-header [header]="headerText" [description]="descriptionText"></page-header>
<p *ngIf="auth.isAuthenticated()">
  <a [routerLink]="['/words/new']" class="btn btn-primary">Add a Word</a>
</p>

<div class="row">
  <div class="input-group input-group-sm col-md-5 mb-3">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <a href="#advancedSearch" data-toggle="collapse">
          <i class="fas fa-search-plus" data-toggle="tooltip" data-placement="bottom" title="Advanced search"></i>
        </a>
      </div>
    </div>
    <input id="search" name="search" type="text" class="form-control" placeholder="Search..." [(ngModel)]="query.query"
      (blur)="onFilterChange()">
    <div class="input-group-append">
      <div class="input-group-text"><i class="fa fa-search"></i></div>
    </div>
  </div>
</div>
<div id="advancedSearch" class="row collapse mb-3">
  <div class="col-md-9">
    <div class="well well-sm">
      <div class="row">
        <div class="col-md-3 form-group">
          <label for="category" class="col-form-label-sm">Category</label>
          <select name="" id="category" class="form-control form-control-sm" [(ngModel)]="query.categoryId" (change)="onCategoryChange()">
            <option value=""></option>
            <option *ngFor="let c of categories" value="{{ c.id }}">{{ c.name }}</option>
          </select>
        </div>
        <div class="col-md-3 form-group">
          <label for="subcategory" class="col-form-label-sm">Subcategory</label>
          <select name="" id="subcategory" class="form-control form-control-sm" [(ngModel)]="query.subcategoryId"
            (change)="onFilterChange()">
            <option value=""></option>
            <option *ngFor="let s of subcategories" value="{{ s.id }}">{{ s.name }}</option>
          </select>
        </div>
        <div class="col-md-3 form-group">
          <label for="partOfSpeech" class="col-form-label-sm">Part of speech</label>
          <select name="" id="partOfSpeech" class="form-control form-control-sm" [(ngModel)]="query.partOfSpeechId"
            (change)="onFilterChange()">
            <option value=""></option>
            <option *ngFor="let p of partsOfSpeech" value="{{ p.id }}">{{ p.name }}</option>
          </select>
        </div>
        <div class="col-md-3 form-group">
          <label for="isLearned" class="col-form-label-sm">Learned</label>
          <br>
          <ui-switch id="isLearned" size="small" [(ngModel)]="isLearned" (change)="onChangeLearnedSwitch($event)"></ui-switch>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 form-group">
          <label for="name" class="col-form-label-sm">Name</label>
          <input name="name" type="text" class="form-control" [(ngModel)]="query.name" (blur)="onFilterChange()">
        </div>
        <div class="col-md-3 form-group">
          <label for="meaning" class="col-form-label-sm">Meaning</label>
          <input name="meaning" type="text" class="form-control form-control-sm" [(ngModel)]="query.meaning" (blur)="onFilterChange()">
        </div>
        <div class="col-md-3 form-group">
          <label for="example" class="col-form-label-sm">Example</label>
          <input name="example" type="text" class="form-control form-control-sm" [(ngModel)]="query.example" (blur)="onFilterChange()">
        </div>
        <div class="col-md-3 form-group">
          <label for="isNotLearned" class="col-form-label-sm">Not learned</label>
          <br>
          <ui-switch id="isNotLearned" size="small" [(ngModel)]="isNotLearned" (change)="onChangeNotLearnedSwitch($event)"></ui-switch>
        </div>
      </div>
      <button class="btn btn-sm btn-default" (click)="clearFilter()">Clear</button>
    </div>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-stripped table-hover">
    <thead>
      <tr>
        <th *ngFor="let h of headers">
          <span *ngIf="h.isSortable" (click)="sortBy(h.key)" class="cur_p">
            {{ h.title }}
            <i *ngIf="query.sortBy != h.key" class="fa fa-sort"></i>
            <i *ngIf="query.sortBy === h.key" class="fa" [class.fa-sort-asc]="query.isSortAscending"
              [class.fa-sort-desc]="!query.isSortAscending"></i>
          </span>
          <span *ngIf="!h.isSortable">
            {{ h.title }}
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let w of queryResult.items">
        <td>{{ w.name }}</td>
        <td>{{ w.meaning }}</td>
        <td>{{ w.pronunciation.uk }}</td>
        <td>{{ w.pronunciation.us }}</td>
        <td>
          <div [froalaView]="w.example"></div>
        </td>
        <td>{{ w.subcategory.name }}</td>
        <td>{{ w.category.name }}</td>
        <td>{{ w.createdAt | date :'short'}}</td>
        <td>
          <a [routerLink]="['/words/', w.id]" class="btn btn-link" data-toggle="tooltip" data-placement="bottom" title="View">
            <i class="fa fa-search" aria-hidden="true"></i>
          </a>
          <a [routerLink]="['/words/update/', w.id]" class="btn btn-link" data-toggle="tooltip" data-placement="bottom"
            title="Edit">
            <i class="fa fa-pencil"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<pagination [total-items]="queryResult.totalItems" [page-size]="query.pageSize" (page-changed)="onPageChange($event)"></pagination>
