<h1>New Word</h1>
<form>
  <div class="form-group">
    <label for="word">Word</label>
    <input id="word" type="text" class="form-control">
  </div>
  <div class="form-group">
      <label for="meaning">Meaning</label>
      <input id="meaning" type="text" class="form-control">
    </div>
  <div class="form-group">
    <label for="category">Category</label>
    <select id="category" class="form-control"></select>
  </div>
  <div class="form-group">
    <label for="subcategory">Subcategory</label>
    <select id="subcategory" class="form-control"></select>
  </div>
</form>
